<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="/js/application.js"></script>

  <title>BookWorms on Rails</title>
</head>
<body>
<div id="content">

    <div id="login-toolbar">
      <h1>BookWorms</h1>
      <% if current_user %>
      Hello, current_user <img src="http://simpleicon.com/wp-content/uploads/book-1.png"> <a href="/logout">Logout</a>
      <% else %>
        <%= link_to "Login", login_path %>
         || <%= link_to "Signup", new_user_path %>
      <% end %>
    </div>

    <div class="homepage-books">
      <% @books.each do |book| %>
        <a href="/book/<%= book.id %>"><%= book.title %></a> <br>
      <% end %>
    </div>


  <%= yield %>
<!-- </div> -->
</body>
</html>


